<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstacionamientoCooperativo_Grp7_Atreve_T"
        tools:targetApi="31" >
        <activity
            android:name=".ClientPagesUI.ParkingReservationPage"
            android:exported="false" />
        <activity
            android:name=".ClientPagesUI.RegisterCar"
            android:exported="false" />
        <activity
            android:name=".ClientPagesUI.ParkingMap"
            android:exported="false" />
        <activity
            android:name=".ClientPagesUI.MyCarsPage"
            android:exported="false" />
        <activity
            android:name=".ClientPagesUI.ProfileEditPage"
            android:exported="false" />
        <activity
            android:name=".ClientPagesUI.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".ClientPage"
            android:exported="false" />
        <activity
            android:name=".InitPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>